{% extends 'base.html' %}

{% block title %}
{{ card.name }} -
{% endblock %}

{% block content %}
<div class="card-details-container">
    <div class="card-details">
        <div class="card-image">
            {% if card.has_back %}
            <img src="{{ card.front_art }}" alt="Card Image" data-front-image="{{ card.front_art }}"
                data-back-image="{{ card.back_art }}" class="toggleable">
            {% else %}
            <img src="{{ card.front_art }}" alt="Card Image">
            {% endif %}
            {% if card.display_price %}
                <!--<div class="display-price"><a href="{{card.url}}" target="_blank">Buy on TCGplayer ${{ '%.2f'|format(card.display_price) }}</a></div>
                -->    
                <div class="card-image-controls">
                    <div class="card-image-controls-item"> 
                        <button id="myBtn" class="button-small card-image-controls-item-price myBtn" data-card-set="{{ card.set_name }}" data-card-number="{{ card.number }}" data-card-name="{{ card.name }}" data-tcg-product-id="{{ card.tcg_product_id }}">${{ '%.2f'|format(card.display_price) }}</button>
                    </div>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="my-modal">
                    <div class="my-modal-header">
                        <div class="my-modal-title">

                        </div>
                    </div>

                    <!-- Modal content -->
                    <div class="my-modal-body">
                        <div id="card-price-details-modal-entries">
                            <div class="card-price-details-modal-entry">
                                <div class="card-price-details-modal-entry-card-variant-type-name-container">
                                    "Normal"
                                </div>
                                <div class="card-price-details-modal-entry-prices">
                                    <div class="card-price-details-modal-entry-price">
                                        <span class="card-price-details-modal-entry-price-label"> Market </span>
                                        <span class="card-price-details-modal-entry-price-value"> $117 </span>
                                    </div>
                                </div>
                                <a href="{{card.url}}" rel="external nofollow" target="_blank" class="card-price-details-modal-entry-vendor-button button button-plain button-small">
                                    <span aria-hidden="true" class="button-icon fa-solid fa-up-right-from-square"></span>
                                    View on TCGplayer
                                </a>
                            </div>
                       
                        </div>
                        
                    </div>

                    <div class="my-modal-footer">
                    
                        <div class="modal-footer-buttons">
                            <button type="button" class="button button-primary close-modal" data-hide="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}
            
        </div>
        <div class="card-info">
            <div class="header">
                <div class="aspect-icons" id="card-title-aspects">
                    {% for aspect_icon in card.aspect_icons %}
                    <div class="aspect-icon" id="card-title">
                        <img src="{{ aspect_icon }}" alt="Aspect Icon">
                    </div>
                    {% endfor %}
                    <p><strong>{% if card.is_unique %} ⟡ {% endif %}{{ card.name }}</strong></p>
                </div>

            </div>
            

            {% if card.type == 'Leader'%}
                <div class="card-type">
                    <p><span class="card-type-span">LEADER</span></p>
                </div>
                <div class="card-traits">
                    {% if card.traits %}
                    <p>{{ ' • '.join(card.traits) }}</p>
                    {% endif %}
                </div>
                {% if card.text %}
                <div class="card-text">
                    <p>
                        {{ card.text | replace_aspects }}
                    </p>
                </div>




                {% endif %}
                {% if card.epic_action %}
                <div class="card-epic-action">
                    <p>{{ card.epic_action | safe }}</p>
                </div>
                {% endif %}

                <br />
                <div class="card-type">
                    <p><span class="card-type-span">LEADER UNIT - {% if card.arenas %} {% for arena in card.arenas %}
                        {{ arena|upper }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</span>. Cost: <span class="cost-text">{{card.cost}}</span></p>
                </div>

                <div class="card-traits">
                    {% if card.traits %}
                    <p>{{ ' • '.join(card.traits) }}</p>
                    {% endif %}
                </div>


                
                {% if card.back_text %}
                <div class="card-back-text">
                    <p>{{ card.back_text | replace_aspects | safe }}</p>
                </div>
                {% endif %}

                <div class="card-stats">
                    <p><span class="card-power">{{ card.power }}</span> / <span class="card-hp">{{card.hp}}</span></p>
                </div>
                <div class="card-artist">
                    <p>Artist: <a href='/search?q=artist%3A"{{ card.artist|urlencode }}"'>{{ card.artist }}</a></p>
                </div>
            {% else %}
                <div class="card-type">
                <p><span class="card-type-span">{{ card.type|upper }}{% if card.arenas %} - 
                    {% for arena in card.arenas %}
                        {{ arena|upper }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</span>{% if card.cost %}. Cost: <span class="cost-text">{{card.cost}}</span>.{% endif %}
                </p>
                


                </div>
                <div class="card-traits">
                    {% if card.traits %}
                    <p>{{ ' • '.join(card.traits) }}</p>
                    {% endif %}
                </div>

                {% if card.text %}
                <div class="card-text">
                    <p>{{ card.text | replace_aspects | safe }}</p>
                </div>
                {% endif %}
                {% if card.epic_action %}
                <div class="card-epic-action">
                    <p>{{ card.epic_action | safe }}</p>
                </div>
                {% endif %}
                <div class="card-stats">
                    {% if card.power %}
                    <p><span class="card-power">{{ card.power }}</span> / <span class="card-hp">{{card.hp}}</span></p>
                    {% elif card.hp %}
                    <p><span class="card-hp">Starting HP: {{card.hp}}</span></p>
                    {% endif %}
                </div>
                <div class="card-artist">
                    <p>Artist: <a href='/search?q=artist%3A"{{ card.artist|urlencode }}"'>{{ card.artist }}</a></p>
                </div>
            {% endif %}

            <div class="card-set">
                <div>
                <p>Set: <a href="/search?q=set%3A{{ card.set }}">{{ card.set_name }}</a> {{ card.number }}/{{card.max_element}}</p>
                </div>
                <div class="card-rarity">
                    <p>Rarity: {{ card.rarity }}</p>
                    </div>
                
            </div> 
        </div>
    </div>
    {% if variants %}
    <div class="variants-container">
        
        <h3 style="text-align: center;">Variants</h3>
        <div class="card-grid-container">
            <div class="card-grid">
        {% for variant in variants %}
        <div class="variant-container">
        <h4 style="text-align: center;">{{ variant.variant_type }}</h4>
        <div class="card-img variant-img">
                {% if variant.has_back %}
                <a href="{{ url_for('card', set=variant.set, number=variant.number, name=variant.name|replace(' ', '-')|replace('\"', '
                    -')|replace('/', '-' )) }}">
                    <img {% if variant.is_landscape %}src="{{ variant.v_front_art }}" {% else %}src="{{ variant.front_art }}" {%
                        endif %} alt="Card Image" {% if variant.is_landscape %}data-front-image="{{ variant.v_front_art }}" {%
                        else %}data-front-image="{{ variant.front_art }}" {% endif %} data-back-image="{{ variant.back_art }}"
                        class="card-image toggleable">
                </a>
                <button class="toggle-button"></button>
                {% else %}
                <a href="{{ url_for('card', set=variant.set, number=variant.number, name=variant.name|replace(' ', '-')|replace('\"', '
                    -')|replace('/', '-' )) }}">
                    <img {% if variant.is_landscape %}src="{{ variant.v_front_art }}" {% else %}src="{{ variant.front_art }}" {%
                        endif %} alt="Card Image" class="card-image">
                </a>
                {% endif %}
           
            </div>
            {% if variant.display_price %}
                <div class="card-image-controls">
                    <div class="card-image-controls-item"> 
                        <button class="button-small card-image-controls-item-price open-modal myBtn" data-card-set="{{ variant.set_name }}" data-card-number="{{ variant.number }}" data-card-name="{{ variant.name }}" data-tcg-product-id="{{ variant.tcg_product_id }}" data-modal-id="myModal{{ loop.index }}">${{ '%.2f'|format(variant.display_price) }}</button>
                    </div>
                </div>
                
            {% endif %}
        </div>
        {% endfor %}
    </div></div>
        
    </div>
    {% endif %}
    <div class="card-iterator-container">
        {% if prev_card.name %}
            <a href="/card/{{ prev_card.set }}/{{ prev_card.number }}/{{ prev_card.name|replace('/', '-')|urlencode }}" class="button prev-link">{{ prev_card.name }}</a>
        {% endif %}
        <a href="/search?q=set%3A{{ card.set }}&variants=true" class="button center-link">{{ card.set }}</a>
        {% if next_card.name %}
            <a href="/card/{{ next_card.set }}/{{ next_card.number }}/{{ next_card.name|replace('/', '-')|urlencode }}" class="button next-link">{{ next_card.name }}</a>
        {% endif %}
    </div>
    
</div>
{% endblock %}