<!-- home.html -->
{% extends 'base.html' %}

{% block meta_description %}A fan site providing comprehensive search features for the upcoming Star Wars Unlimited card game from Fantasy Flight Games{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}

    <div class="content index-content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
        <h1>Welcome to the Star Wars Unlimited DB</h1>
        <p>Use the search box below to find the cards you're looking for.</p>
        <form action="{{ url_for('search') }}" method="GET">
            <input class='homepage-search' data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" type="text" name="q" 
                placeholder="Search for cards..." data-bs-title="t: Text<br />a: Aspect<br />tr: Trait<br />ty: Type<br />ar: Arena<br />r: Rarity<br />c: Cost<br />p: Power<br />h: HP<br />artist: Artist<br /><br />Example:<br />p=2 c>3 returns<br/>cards with power 2<br />and cost greater than 3">
            <input class='submit-btn' type="submit" value="Search">
        </form>
        <p><a href="/search?q=set%3Ats26">Twin Suns 26 Previews</a></p>
        <p><a href="/search?q=set%3Aash">Ashes of the Empire Previews</a></p>
    </div>
{% endblock %}